<ion-header no-border>

  <ion-navbar>
    <ion-title>Setup</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>

    <ion-item>
      <ion-label stacked>Corporate</ion-label>
      <ion-input type="text" value="{{corporate}}">{{corporate}}</ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Version</ion-label>
      <ion-input type="text" value="{{version}}">{{version}}</ion-input>
    </ion-item>

    <!-- <ion-item>
      <ion-label stacked>Production Leadtime</ion-label>
      <ion-input type=" text" value="{{production_leadtime}}">{{production_leadtime}}</ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Percentage</ion-label>
      <ion-input type=" number" value="{{percentage}}">{{percentage}}</ion-input>
    </ion-item> -->

    <ion-item></ion-item>

  </ion-list>

  <div class="mid-center-bottom">
    <button ion-button round color="goldenrod" class="azz-button" (click)="backPage()">
      Back
    </button>
  </div>

</ion-content>
