page-setup {

  .azz-button {
    border-radius: 10px;
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.3);
    text-transform: none;
    width: 80%;
    height: 30pt;
  }

  .mid-center-bottom {
    position: absolute;
    left: 0;
    top: 80%;
    width: 100%;
    text-align: center;
    font-size: 18px;
  }

}
