<ion-header no-border>

  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div>

    <ion-list no-lines>

      <ion-item style="background-color: transparent !important;" no-lines>
        <ion-label floating>
          <p class="labels">Username</p>
        </ion-label>
        <ion-input type="text" autocapitalize="none" [(ngModel)]="username"></ion-input>
      </ion-item>

      <ion-item style="background-color: transparent !important;" no-lines>
        <ion-label class="labels" floating>
          <p class="labels">Password</p>
        </ion-label>
        <ion-input type="password" autocapitalize="none" [(ngModel)]="password"></ion-input>
      </ion-item>

      <ion-item style="background-color: transparent !important;"></ion-item>

      <div padding>
        <button ion-button block round class="login_button" color="dark" (click)="loginSystem()">Submit</button>
      </div>

    </ion-list>



  </div>

</ion-content>
