<ion-header no-border>

  <ion-navbar>
    <ion-title>List Product</ion-title>
    <ion-buttons end style="display: none;">
      <button ion-button icon-only color="royal" (click)="searchBtn()">
        <ion-icon name="search-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content class="card-background-page">

  <!-- <ion-searchbar padding></ion-searchbar> -->

  <div>

    <!-- <table>
      <tr *ngFor="let list of products" (click)="selectProduct(list.product_id, list.product_name, list.min_order)">
        <td width="30%">
          <img [src]="list.source_image" class="images">
        </td>
        <td class="description">
          <p>{{list.product_description}}</p>
        </td>
      </tr>
    </table> -->

    <!-- <ion-list>
      <ion-item *ngFor="let list of products"
        (click)="selectProduct(list.product_id, list.product_name, list.min_order)">
        <ion-thumbnail item-start>
          <img [src]="list.source_image" >
        </ion-thumbnail>
        <h3>{{list.product_description}}</h3>
        <p>{{list.product_code}}</p>
      </ion-item>
    </ion-list> -->

    <!-- <ion-list>
      <ion-item *ngFor="let list of products"
        (click)="selectProduct(list.product_id, list.product_name, list.min_order)">
        <img [src]="list.source_image" class="images">
        <h3 class="description">{{list.product_description}}</h3>
        <p>{{list.product_code}}</p>
      </ion-item>
    </ion-list> -->

    <ion-list>
      <ion-grid>
        <ion-row *ngFor="let list of products"
          (click)="selectProduct(list.product_id, list.product_name, list.min_order)">
          <ion-col col-3>
            <img [src]="list.source_image" class="images">
          </ion-col>
          <ion-col col-9 class="description">{{list.product_description}}</ion-col>
        </ion-row>
      </ion-grid>

    </ion-list>


    <!-- <img src="http://192.168.0.81/vci_mobile_api/assets/images/ova/pic_a.png" class="logo_produk"> -->

    <!-- 
    <ion-card *ngFor="let list of products" (click)="selectProduct(list.product_id, list.product_name, list.min_order)"
      class="azz-card">
      <img [src]="list.source_image" class="logo_produk" />
      <div class="card-title">{{list.product_description}}</div>
      <div class="card-subtitle">{{list.product_code}}</div>
    </ion-card> -->

  </div>

</ion-content>
