page-catalogue {

  .logo {
    height: 5%;
    width: 10px;
    margin: auto;
  }

  .logo_produk {
    height: 15%;
    width: 15%;
    margin: auto;
  }

  .photo_product {
    max-height: 15%;
    width: 15%;
    margin: auto;
  }

  .images {
    height: 70px;
    margin: auto;
    display: block;
    // padding-left: 3%;

  }


  .description {
    margin: auto;
    ;
  }

  .card-background-page {

    ion-card {
      position: relative;
      text-align: center;
    }

    .card-title {
      position: absolute;
      top: 80%;
      font-size: 11px;
      width: 100%;
      font-weight: bold;
      color: black;
      text-align: left;
      padding-left: 5%;
    }

    .card-subtitle {
      font-size: 10px;
      position: absolute;
      top: 10%;
      width: 100%;
      color: black;
      text-align: right;
      padding-right: 5%;

    }

  }

  .item ion-thumbnail {
    min-width: 4rem;
    min-height: 5rem;

    img {
      max-width: 7rem;
      min-width: 1rem;
    }
  }

  .azz-card {
    border-radius: 10px;
    background: #ffffff;
    box-shadow: inset 20px 20px 60px #d9d9d9,
      inset -20px -20px 60px #ffffff;
  }

  ion-searchbar {
    .searchbar-input-container {
      .searchbar-input {
        border-radius: 20px !important;
        box-shadow: inset 20px 20px 60px #efefef,
          inset -20px -20px 60px #ffffff;
        display: block;
        width: 100%;
        height: auto;
      }
    }
  }

}
