<ion-header no-border>

  <ion-navbar>
    <ion-title>Order</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>
    <ion-item>
      <ion-label stacked>Institution Name</ion-label>
      <ion-input type="text" [(ngModel)]="institution_name">Nama Institusi</ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Product Name</ion-label>
      <ion-input type="text" disabled="true" value="{{product_name}}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Quantity</ion-label>
      <ion-input type="text" disabled="true" value="{{qty}}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Leadtime</ion-label>
      <ion-input type="text" disabled="true" value="{{leadtime}}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Price</ion-label>
      <ion-input type="text" disabled="true" value="Rp. {{total_all_final | number}},-"></ion-input>
    </ion-item>
    <ion-item no-lines></ion-item>

    <!-- <ion-item>
      <ion-label stacked>From</ion-label>
      <ion-input [(ngModel)]="letterObj.from"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>To</ion-label>
      <ion-input [(ngModel)]="letterObj.to"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Text</ion-label>
      <ion-textarea [(ngModel)]="letterObj.text" rows="5"></ion-textarea>
    </ion-item> -->

  </ion-list>



  <div>
    <button ion-button block class="azz-button" (click)="getDataOrder()">Create PDF</button>
    <button ion-button block class="azz-button" (click)="downloadPdf()" color="secondary" [disabled]="!pdfObj">
      Download PDF
    </button>
  </div>



</ion-content>
