page-offer {

  .picture_product {
    padding-top: 0%;
    padding-bottom: 10%;
    height: 20%;
    width: 30%;
    display: block;
    margin: auto;
  }

  .slider {
    height: auto;
  }

  .azz-button {
    border-radius: 10px;
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.3);
    text-transform: none;
    // width: 80%;
    height: 30pt;
    margin-top: 5%;

  }

  .text_input {
    color: black;
  }

  .mid-center-bottom {
    position: absolute;
    left: 0;
    bottom: 5%;
    width: 100%;
    text-align: center;
  }

  .total {
    margin-bottom: 10%;
  }

  .order {
    margin-top: 5%;
  }

  .total_a {
    text-align: left;
    // padding-left: 0%;
    font-size: 18px;
    font-weight: 500;
    margin-top: -5%;
    margin-bottom: -3%;

  }

  .total_b {
    text-align: right;
    // padding-right: 0%;
    font-size: 18px;
    font-weight: 500;
    margin-top: -5%;
    margin-bottom: -3%;

  }

  .product_detail {
    padding-bottom: 5%;
  }


}
