<ion-header no-border>

  <ion-navbar>
    <ion-title>Offer Selling</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div style="display: block;">
    <ion-slides class="slider" pager #sliders>
      <ion-slide *ngFor="let slide of image_product">
        <div>
          <ion-item no-lines>
            <button ion-button clear small (click)="selectDesign(slide.type_label)" item-end>pilih</button>
          </ion-item>
          <img [src]="slide.source_image" class="picture_product" alt="Picture Product" #myImage
            (click)="presentImage(myImage)">
        </div>
      </ion-slide>
    </ion-slides>
  </div>

  <div class="product_detail">
    <ion-list radio-group>

      <!-- <ion-item>
        <ion-label stacked>Product ID</ion-label>
        <ion-input type="text" disabled="true" value="{{product_id}}">{{product_id}}</ion-input>
      </ion-item> -->

      <ion-item>
        <ion-label stacked>Product Name</ion-label>
        <ion-input type="text" disabled="true" value="{{product_name}}">{{product_name}}</ion-input>
      </ion-item>

      <ion-item (tap)="tapEvent($event)">
        <ion-label stacked>Minimum Order</ion-label>
        <ion-input type="text" disabled="true" value="{{min_order}}">{{min_order}}</ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Label Type</ion-label>
        <ion-input type="text" disabled="true" value="{{type_label}}">{{type_label}}</ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Quantity</ion-label>
        <ion-input type="number" placeholder="0" [(ngModel)]="qty"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Leadtime</ion-label>
        <ion-input type="text" disabled="true" [(ngModel)]="leadtime_name"></ion-input>
      </ion-item>

      <ion-item>
        <!-- <ion-label stacked>Leadtime</ion-label> -->

        <!-- <ion-select [(ngModel)]="leadtime_id_select" (ionChange)="selectLeadTime($event,'test')">
          <ion-option *ngFor="let leadtime of list_leadtime" value="{{leadtime.leadtime_id}}">
            {{leadtime.leadtime_name}}</ion-option>
        </ion-select> -->


        <ion-grid>
          <ion-row>
            <ion-col *ngFor="let leadtime of list_leadtime">
              <button ion-button block outline color="dark" style="text-transform: none;  border-radius: 10px;"
                (click)="selectLeadtime(leadtime.leadtime_id, leadtime.leadtime_name)">{{leadtime.leadtime_name}}</button>
            </ion-col>
          </ion-row>
        </ion-grid>


      </ion-item>

      <!-- <ion-item id="total1">
        <ion-label stacked>Price</ion-label>
        <ion-input type="text" disabled="true" value="Rp. {{total_all | number}}"></ion-input>
      </ion-item> 

      <ion-item id="total2">
        <ion-label stacked>COG Label</ion-label>
        <ion-input type="text" disabled="true" value="{{total2}}"></ion-input>
      </ion-item>
  
      <ion-item id="label_name">
        <ion-label stacked>Label Name</ion-label>
        <ion-input type="text" disabled="true" value="{{label_name}}"></ion-input>
      </ion-item> -->

      <!-- <ion-item></ion-item> -->

    </ion-list>

    <ion-grid>
      <ion-row>
        <ion-col>
          <p class="total_a">Total</p>
        </ion-col>
        <ion-col>
          <p class="total_b">Rp. {{total_all_final | number}},-</p>
        </ion-col>
      </ion-row>
    </ion-grid>

    <button ion-button round block color="goldenrod" class="azz-button" (click)="getCalculateButton()">
      Calculate
    </button>


    <button ion-button round block color="dark" class="azz-button order" (click)="orderProduct()" id="order"
      style="display: none;">
      Order
    </button>




  </div>

  <!-- <div padding>

    <div class="total">
      <ion-grid>
        <ion-row>
          <ion-col>
            <p class="total_a">Total</p>
          </ion-col>
          <ion-col>
            <p class="total_b">Rp. {{total_all | number}},-</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <button ion-button round block color="goldenrod" class="azz-button" (click)="loadSetup()">
      Calculate
    </button>

    <button ion-button round block color="dark" class="azz-button" id="order" (click)="orderProduct()"
      style="display: none;">
      Order
    </button>

  </div> -->

</ion-content>
