page-home {

  .logo-vci {
    padding-top: 30%;
    height: 15%;
    width: 30%;
    display: block;
    margin: auto;
  }

  .name {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
  }

  .label {
    font-size: 12px;
    text-align: center;
    color: rgba($color: #3e7c32, $alpha: 1.0);
  }

  .init {
    text-align: center;
    font-size: 20px;
  }

  .buttons {
    padding-top: 90%;
  }

  .azz-button {
    border-radius: 10px;
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.3);
    text-transform: none;
    position: absolute;
    width: 90%;
    height: 30pt;
  }

  .mid-center-bottom {
    position: absolute;
    left: 0;
    top: 55%;
    width: 100%;
    text-align: center;
  }


}
