<ion-header no-border>
  <ion-navbar>
    <ion-title>
      {{name_app}}
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="royal" (click)="getSetupPage()">
        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div style="padding-top: 10%;">
    <div>
      <img src="assets/imgs/logovcibaru.png" alt="logo" class="logo-vci">
    </div>
    <!-- <p class="name">{{corporate}}</p> -->
  </div><br>

  <!-- <div>
    <ion-row>
      <ion-col>
        <p class="label">Production Leadtime</p>
        <p class="init">{{production_leadtime}} Days</p>
      </ion-col>
      <ion-col>
        <p class="label">Percentage</p>
        <p class="init">{{percentage}}%</p>
      </ion-col>
    </ion-row>
  </div> -->

  <div>
    <button ion-button block round color="goldenrod" class="azz-button" (click)="getCatalogue()">
      Start
    </button>
  </div>


</ion-content>
