// http://ionicframework.com/docs/theming/

.toolbar-background {
  background-color: transparent !important;
}

// Hide Scroll Bar
.scroll-content {
  overflow-y: auto !important;
}

// // Dissable underline ion input
// .item-inner,
// ion-item {
//   border-bottom-color: transparent !important;
//   box-shadow: none !important;
// }

.azz-button {
  border-radius: 10px;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.3);
  text-transform: none;
  // width: 80%;
  height: 30pt;
  margin-top: 5%;

}
